<div class="container">
  <form #newCustomer="ngForm" (ngSubmit)="updateCustomer(newCustomer.value)">
    <div class="form-group">
      <label for="usr">Name:</label>
      <input type="text" class="form-control" ngModel [(ngModel)]="data.name" name="name">
    </div>
    <div class="form-group">
      <label for="pwd">Email Id:</label>
      <input type="email" class="form-control" ngModel [(ngModel)]="data.email" name="email">
  	</div>
    <div class="form-group">
      <label for="pwd">Mobile No:</label>
      <input type="tel" class="form-control" ngModel [(ngModel)]="data.mobile" name="mobile">
    </div>
    <button type="submit" class="btn btn-warning">Update</button>
  </form>
</div>
